@import 'fonts.less';

.attribute_left,
.attribute_right {
	color: #ff00c1;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: 'PT_Sans-Narrow Regular';
};

.attribute_left {
	text-align: right;
};

.colorLayer {
	border-radius: 50%;
}